.header{
    max-width:100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 88px;
    background-color:$secondary;
    @include desktop(){
        max-width: 1024px;
        margin: 0 auto;
        padding: 30px 40px;
    }
    @include smobile(){
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        text-align: center;
    }
    .logo{
    display: block;
    @include desktop{
        margin-left: 0px;
    }
    @include smobile(){
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0;
    }
        img{
            vertical-align: middle;
        }
        @include smobile(){
            width:50%;
            height: auto;
            text-align: center;
        }
        }
    .menu{
        display: flex;
        align-items: center;
        @include smobile(){
            min-width: 414px;
            flex-wrap: wrap;
            border-top: 1px solid  $fontcolor5;
            border-left: 1px solid  $fontcolor5;
        } 
        
        li{
            margin-left: 64px;
            vertical-align:middle;
            @include pad(){
            margin-left:30px;      
            } 
            @include bmobole(){
            margin-right:10px; 
            } 
            @include smobile{
                width: 50%;
                display: block;
                margin: 0;
                padding: 8px 0px;
                border-right: 1px solid  $fontcolor5;
                border-bottom:1px solid $fontcolor5;
            }
            a{
                color: $fontcolor5;
                font-size: $fontsize7;
                line-height: $line-height8;
                text-decoration: none;
                display: block;
                @include bmobole(){
                    font-size: $fontsize8;
                    line-height: $line-height9;
                }
               
            }
        }
    }        
}
.footer{
    max-width:100%;
    background-color:$secondary;
    @include desktop(){
        max-width:1024px;
    }
    @include pad(){
        max-width:100%;
    }
    @include smobile(){
        max-width:100%;
    }
    .footermenu{
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 44px;
        @include desktop(){
            max-width: 960px;
            padding-top: 32px;
        }
        @include pad(){
            max-width:690px;
        }
        @include smobile(){
           max-width: 376px;
        }
        .footerlist-none{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: 328px;
            align-items: center;
            @include desktop(){
                padding-right: 0;
            } 
            @include smobile(){
                display: none;
            }
            }    
            .footerlist{
                margin-right: 48px;
                @include desktop(){
                    margin-right: 40px;
                }    
                @include pad(){
                }
                @include smobile{

                }
                a{
                    text-decoration: none;
                    font-size: $fontsize8;
                    color:$fontcolor5;
                    line-height:$line-height9;
                    @include desktop(){
                        display: block;    
                    }   
                }    
            }
            .logo-icon{
                display: flex;
                justify-content: space-around;
                .logolink{
                    margin-left: 32px;
                    @include desktop(){
                        margin-left: 24px;
                    }    
                    @include pad(){
                        margin-left: 24px;
                        img{
                        max-width: 24px;
                        }
                        @include smobile(){
                        display: none;
                        }        
                    }
                }
            }      
         .contant{
            max-width:1140px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-top: 36px;
            @include desktop(){
                max-width: 960px;
            }
            @include pad(){
                max-width:690px;
            }
            @include smobile(){
                max-width: 60%;
                margin: 0px;
                margin-bottom: 24px;
            }
                li{
                    width: 1140px;
                    margin-bottom: 24px;
                    display: flex;
                    align-items: center;
                    @include desktop(){
                        max-width: 960px;
                    }
                    @include pad(){
                        max-width:690px;
                    }
                    @include smobile(){
                        margin-bottom: 0px;
                    }  
                }
                li img{
                    width: 36px;
                    margin-right:18px ;
                    vertical-align: middle;
                    @include smobile(){
                            width:24px ;
                    }
                }
                li span{
                    font-size: $fontsize4;
                    line-height: $line-height4;
                    color:$fontcolor5;
                    @include desktop(){
                        font-style:$fontsize6;
                        line-height:$line-height7;    
                    }
                    @include smobile(){
                        font-size:$fontsize8;
                        line-height: $line-height8;
                    }
                }
            } 
            .moblogo-icon{
                display:none;
                @include desktop(){
                display: flex;
                }
                img{
                max-width: 24px;
                margin-left: 24px;
                }
                @include smobile(){   
                }    
            }             
        }    
    .copyright{
        max-width:1140px;
        display: flex;
        justify-content:space-between;
        margin: 0 auto ;
        padding-top: 32px;
        padding-bottom:  40px;
        border-top: 1px solid $fontcolor5;
        @include desktop(){
            max-width: 960px;
            padding-top: 24px;
            padding-bottom: 32px;
        }
        @include pad(){
            max-width: 690px;
        }
        @include smobile(){
            max-width: 385px;
            margin: 0 auto;
            flex-wrap: wrap;
            padding-top: 16px;
            justify-content: flex-start;
            padding-bottom: 24px;
        }
        p{
            color:$fontcolor5;
            font-size:$fontsize8 ;
            line-height:$line-height9 ;
        }
        @include smobile(){
            width: 100%;
            font-size:$fontsize9;
            line-height: $line-height10;
        }
        .terms{
            display: flex;
            justify-content:start;
            @include smobile(){
            max-width: 385px;
            flex-direction: column;
            }
            li{
                margin-left:48px;
                @include smobile(){
                margin-top: 8px;  
                margin-left:0px;
                }    
                a{
                    text-decoration: none;
                    color:$fontcolor5 ;
                    font-size: $fontsize9;
                    line-height:$line-height10;
                }
            }
        }

    }
}