/*使用色系*/
$primarycolor:#650300;
$secondary:#aa0301;
$thirdcolor:#fbf2f2;
$auxiliarycolor1:#5f3e2d;
$auxiliarycolor2:#875929;
$hovercolor1:#f2f2f2;
$foucscolor2:#000;

/*文字顏色*/
$fontcolor1:#000;
$fontcolor2:#212529;
$fontcolor3:#707070;
$fontcolor4:#dee2e6;
$fontcolor5:#fff;
$fontcolor6:#aa0601;
/*文字大小*/
$bannerfont:72px;
$fontsize1:64px;
$fontsize2:48px;
$fontsize3:42px;
$fontsize4:36px;
$fontsize5:32px;
$fontsize6:24px;
$fontsize7:20px;
$fontsize8:16px;
$fontsize9:14px;
$fontsize10:18px;
$fontsize11:28px;   
/*文字粗細*/
$fontweight1:bold;
$fontweight2:bolder;
/*線*/
$boderlight1:#dcdcdc;
/*行距*/
$banner-line-height:108px;
$line-height1:96px;
$line-height2:72px;
$line-height3:63px;
$line-height4:54px;
$line-height5:48px;
$line-height6:50px;
$line-height7:36px;
$line-height8:30px;
$line-height9:24px;
$line-height10:21px;
$line-height11:27px;
$line-height12:80px;


$font-family-base: "Roboto", "Noto Sans TC"; 

body{
    font-family: $font-family-base;
}

